includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - routes
        - config
    excludePaths:
        - app/Database/IdGenerators/DomainBasedIdGenerator.php
    level: 5
    reportUnmatchedIgnoredErrors: false
    tmpDir: storage/framework/phpstan
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - stdClass
